/* <style>body {
    background-color: rgb(109, 218, 255);
}

body {
    font-family: 'Sriracha', cursive;
}

.headercs {
    font-size: 50px;
    /* background-color: bisque; */

height: 50px;

/*text-align: center; 
                padding: 20px;*/


}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeframe {
    /* width: 286.8px; */
    
    float: left;
    /* padding: 20px;
    border: solid 5px rgb(0, 0, 0);
    background-color: rgb(218, 61, 61); */
}
.historyframe {
    width: 286.8px;
    float: left;
    padding: 5px;
    border: solid 2px rgb(0, 0, 0);
    background-color: rgba(115, 255, 0, 0.548);
}
.Travelframe {
    width: 286.8px;
    float: left;
    padding: 5px;
    border: solid 2px rgb(0, 0, 0);
    background-color: rgba(190, 30, 169, 0.781);
}
.traditionframe {
    width: 286.8px;
    float: left;
    padding: 5px;
    border: solid 2px rgb(0, 0, 0);
    background-color: rgba(22, 218, 208, 0.781);
}
.foodframe {
    width: 286.8px;
    float: left;
    padding: 5px;
    border: solid 2px rgb(0, 0, 0);
    background-color: rgba(255, 136, 0, 0.781);
}
.cover {
    width: 1440px;
    padding: 30px;
    background-color: rgba(6, 182, 144, 0.918);
    border: solid 2px rgb(0, 0, 0);
    overflow: hidden;
}
.searchframe {
    width: 100px;
    float: right;
    background-color: yellow;
    border-radius: 8px;
    border: solid 2px rgb(128, 0, 0);
}
.content {
    width: 450px;
    float: right;
    background-color: yellow;
}
.pos {
    position: relative;
    right: 0px;
    left: 1400px;
    top: 0px;
    z-index: -1;
}
.pull-right {
    float: right;
}
body {
    margin: 0;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

</style>*/