/* <style>
        body {
            font-family: 'Srisakdi', cursive;

        }

        .headercs {
            /* font-size: 50px;
            background-color: bisque;
            height: 100px; */

            /*text-align: center; 
                padding: 20px;*/
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        }

        .content {
            font-size: 40px;
            color: rgb(255, 145, 0);
            text-align: center;
            padding: 10px;
        }
    </style> */